<section class="contact">
  <h2> Contact Us</h2>
  <p><span class='italic_bold_me'>We're here to help. </span>Reach out to us for inquiries or assistance:</p>
  <ul class="contact_list">
    <li class="mail"> Email us directly at: <a href="mailto:info@gulwan.com">info@gulwan.com</a> </li>
    <li class="website"> Visit our website: <a href="https://gulwan.com">www.gulwan.com</a> </li>
    <!-- Add other relevant contact methods like a phone number, physical address, or social media links -->
    <!-- Example for a phone number -->
    <li class="phone"> Phone: <a href="tel:+123456789">412 953 5288</a> </li>
    <!-- Example for social media -->
    {# <li class="linkedin"> LinkedIn: <a href="https://linkedin.com/company/gulwan">/company/gulwan</a> </li> #}
    <li class="twitter"> Twitter: <a href="https://twitter.com/gulwan">/gulwan</a> </li>
  </ul>
</section>